#about
	background #111
	padding 15px
	font-size 10px
	line-height 14px
	color #444
	z-index 1
	position absolute
	top 0
	left 0
	opacity .8
	a
		padding 2px
		color #555
		&:hover
			color #666	

canvas 
	z-index 0
	position absolute
	top 0
	left 0